.wrapper {
  width: 100%;
  min-height:100vh;
}
.products {
  padding:2rem;
  display:grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  grid-gap: 30px;
}
.product-wrapper {
  display:grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
}
#components-layout-demo-top-side-2 .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}